bizcalendar/logs/myapp.log
bizcalendar/logs/myapp.log.2019-05-18.0.gz
bizcalendar/logs/myapp.log.2019-05-26.0.gz
bizcalendar/logs/myapp.log.2019-05-27.0.gz
bizcalendar/logs/myapp.log.2019-05-29.0.gz
bizcalendar/logs/myapp.log.2019-05-30.0.gz
bizcalendar/logs/myapp.log.2019-06-01.0.gz
bizcalendar/logs/
